<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

<div class="layer1div">
  <div class="sticky-top">
    <app-navbar></app-navbar>
  </div>

  <div class="row container-fluid">
    <div class="col-lg-4 col-md-12 col-sm-12 offset-lg-7 mt-lg-5 p-lg-5" style="backdrop-filter: blur(8px);">
      <!-- Add your responsive content here -->
      <h3 class="collection-title">Discover Our Collection</h3>
      <p class="collection-description">
        Explore handcrafted ornaments designed to captivate and inspire. From elegant jewelry to exquisite decor, Crafty
        Ornaments offers diverse choices.
      </p>
    </div>


  </div>
</div>

<div class="layer2div h-80 container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card bg-maroon">
        <img
          src="https://images.unsplash.com/photo-1608112169461-48616144c894?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          class="card-img-top img-responsive img-fluid" alt="Jewelry Making 1">
        <div class="card-body">
          <h5 class="card-title text-bold card-title-custom">Artisan Craftsmanship</h5>
          <p class="card-text card-text-custom">Our skilled artisans create exquisite jewelry using traditional
            craftsmanship techniques.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card bg-maroon">
        <img
          src="https://media.istockphoto.com/id/1034391702/photo/colorful-beads-on-wooden-table.webp?b=1&s=170667a&w=0&k=20&c=HSC5ReazecYvzQnoDQMk46TbVo3bQWbPRpIcJ1Q05To="
          class="card-img-top img-responsive img-fluid" alt="Jewelry Making 3">
        <div class="card-body">
          <h5 class="card-title text-bold card-title-custom">Quality Materials</h5>
          <p class="card-text card-text-custom">We source the finest materials to ensure the quality and durability of
            our jewelry.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card bg-maroon">
        <img
          src="https://images.unsplash.com/photo-1626784214536-d859187e0bd0?ixlib=rb-4.0.3&ixid=M3xMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          class="card-img-top img-responsive img-fluid" alt="Jewelry Making 2">
        <div class="card-body">
          <h5 class="card-title text-bold card-title-custom">Unique Designs</h5>
          <p class="card-text card-text-custom">Explore our collection of unique and stylish jewelry designs.</p>
        </div>
      </div>
    </div>
  </div>
</div>