<div class="container-fluid d-flex justify-content-center">
  <div class="card col-lg-8">
    <div class="card-body justify-content-center">

      <form [formGroup]="signupForm" (ngSubmit)="(signupForm.valid) && OnSubmit()" novalidate>
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="example-full-width form-group my-3">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <mat-error *ngIf="firstName.hasError('pattern') && !firstName.hasError('required')">Minimum 3 Alphabets,No
                Numbers or Symbols </mat-error>
              <mat-error *ngIf="firstName.hasError('required')">Your Good Name Please</mat-error>
            </mat-form-field><br />

            <mat-form-field class="example-full-width form-group">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" /> </mat-form-field><br />

            <mat-radio-group formControlName="gender">
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-error *ngIf="gender.hasError('required')">*Gender is Mandatory</mat-error>

            </mat-radio-group>
            <br />
          </div>

          <div class="col-lg-6">
            <mat-form-field class="example-full-width form-group">
              <mat-label>Email</mat-label>
              <input type="email" placeholder="example@gmail.com" matInput formControlName="email" />
              <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">A Valid One?</mat-error>
              <mat-error *ngIf="email.hasError('required')">Your Gmail?</mat-error>
              <mat-error *ngIf="emailexists">Email Already Exists</mat-error>
              <mat-hint *ngIf="email.valid">Perfect!</mat-hint>
            </mat-form-field><br />

            <mat-form-field class="example-full-width form-group">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" /> </mat-form-field><br />

            <mat-form-field class="example-full-width form-group">
              <mat-label>Date Of Birth</mat-label>
              <input type="date" matInput formControlName="DOB" /> </mat-form-field><br />
          </div>
        </div>

        <mat-form-field class="example-full-width form-group">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="Password" />
          <mat-error *ngIf="Password.hasError('required')">Protection is needed Right?</mat-error>
          <!-- <mat-error
            *ngIf="Password.hasError('pattern') && !Password.hasError('required')">1uppercase,1lowercase,1number,a
            specialsymbol,Minimum 6 chars</mat-error> -->
          <mat-hint *ngIf="Password.valid">Woah The Best One so far!</mat-hint>
        </mat-form-field><br />


        <mat-form-field class="example-full-width form-group">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" />

          <mat-error *ngIf="confirmPassword.hasError('matching') && !confirmPassword.hasError('required')">Passwords
            Don't Match</mat-error>
          <mat-hint *ngIf="confirmPassword.valid">Great!</mat-hint>
        </mat-form-field><br />

        <!-- Profile Pic -->
        <!-- <input type="file" (change)="onImageChange($event)" formControlName="profilePic"/> <br /> -->

        <button type="submit" class="btn btn-outline-success">
          Register
        </button>
      </form>

      Already a Member <a routerLink="/Login" class="btn btn-outline-primary">Login</a>
    </div>
  </div>
</div>